/*abstracts*/
/*color*/
/*typography*/
/*breackpoints*/
/*base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem; }

/*body*/
body {
  background: #111;
  color: #fff; }

/*header*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 14%;
  transition: all 0.5s ease; }
  @media (max-width: 1545px) {
    header {
      padding: 22px 4%;
      transition: .2s; } }

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 33px;
  font-weight: 700; }
  .logo i {
    vertical-align: middle;
    margin-right: 8px;
    color: #ff9f0d; }

.navlist {
  display: flex; }
  @media (max-width: 1076px) {
    .navlist {
      position: absolute;
      top: -1000px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      text-align: left;
      background: #212121;
      transition: all 0.5s ease; } }

.navlist a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 30px;
  transition: all 0.5s ease; }
  @media (max-width: 1076px) {
    .navlist a {
      display: block;
      padding: 0.5rem;
      margin: 1rem;
      border-left: 2px solid #ff9f0d; } }

.navlist a:hover {
  color: #ff9f0d; }

.navlist a.active {
  color: #ff9f0d; }

.nav-icons {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  background: #ff9f0d;
  border-radius: 3rem;
  box-shadow: #ff9f0d 0px 1px 25px; }

.nav-icons i {
  vertical-align: middle;
  font-size: 25px;
  color: #111;
  margin-right: 8px;
  margin-left: 5px;
  transition: all 0.5s ease; }

#menu-icon {
  font-size: 32px;
  color: #111;
  z-index: 100001;
  cursor: pointer;
  display: none; }
  @media (max-width: 1076px) {
    #menu-icon {
      display: initial; } }

.nav-icons i:hover {
  transform: scale(1.1);
  color: #fff; }

@media (max-width: 1076px) {
  .navlist.open {
    top: 100%; } }

/*home*/
/* Home*/
section {
  padding: 70px 14% 60px; }
  @media (min-width: 1545px) {
    section {
      padding: 50px 4% 40px;
      transition: .2s; } }

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center; }
  @media (min-width: 1180px) {
    .home {
      height: 85vh; } }
  @media (max-width: 1045px) {
    .home {
      height: 70vh; } }
  @media (max-width: 860px) {
    .home {
      grid-template-columns: 1fr;
      height: 118vh; } }
  @media (max-width: 440px) {
    .home {
      height: 110vh;
      gap: 0.1rem; } }
  .home .home-img img {
    width: 100%;
    height: auto; }
    @media (max-width: 1045px) {
      .home .home-img img {
        width: 100%;
        max-width: 490px;
        height: auto; } }
  .home .home-text h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 3rem; }
  .home span {
    color: #ff9f0d; }

.btn {
  display: inline-block;
  padding: 15px 35px;
  background: #212121;
  color: #ff9f0d;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 2rem;
  transition: all 0.5s ease; }
  .btn .btn i {
    vertical-align: middle;
    margin-left: 9px;
    font-size: 22px; }
  .btn .btn:hover {
    background: #ff9f0d;
    color: #111;
    box-shadow: #ff9f0d 0px 1px 25px; }

.btn2 {
  display: inline-block;
  margin-left: 30px;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom: 3px solid #ff9f0d;
  color: #ff9f0d;
  transition: all 0.5s ease; }
  @media (max-height: 440px) {
    .btn2 {
      margin-top: 10px; } }
  .btn2 .btn2:hover {
    transform: scale(1.1) translateX(12px); }

header.sticky {
  padding: 12px 14%;
  background: #212121; }
  @media (min-width: 1545px) {
    header.sticky {
      padding: 14px 4%;
      transition: .2s; } }

.container {
  padding: 30px 14% 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
  text-align: center; }
  @media (min-width: 1545px) {
    .container {
      padding: 30px 4% 50px; } }
  .container .container-box {
    padding: 43px;
    background: #212121;
    border-radius: 3rem; }
  .container .container-box img {
    width: 100%;
    max-width: 50px;
    height: auto; }
  .container .container-box h3 {
    font-size: 21px;
    font-weight: bold;
    margin: 16px 0; }
  .container .container-box a {
    color: #9e9e9e;
    font-size: 1.1rem;
    letter-spacing: 1px;
    transition: all 0.5s ease; }
  .container .container-box a:hover {
    color: #ff9f0d; }

@media (max-width: 860px) {
  .home-text {
    padding-top: 60px; }
  .home-img {
    text-align: center; } }

@media (max-width: 440px) {
  .btn2 {
    margin-top: 10px; } }

/*about*/
/* About us*/
section {
  padding: 70px 14% 60px; }

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem; }
  @media (max-width: 860px) {
    .about {
      grid-template-columns: 1fr; } }
  .about .about-img img {
    width: 100%;
    height: auto; }
    @media (max-width: 1045px) {
      .about .about-img img {
        width: 100%;
        max-width: 490px;
        height: auto; } }
  .about .about-text h2 {
    font-size: 2.6rem;
    line-height: 1.3;
    margin-bottom: 2rem; }
  .about .about-text p {
    color: #9e9e9e;
    font-size: 1.1rem;
    line-height: 30px;
    margin-bottom: 3rem; }

/*About.html*/
.about-section-padding {
  padding: 70px 14% 60px; }

.container2 {
  padding: 30px 10% 70px;
  display: flexbox;
  color: #212121;
  gap: 7rem;
  text-align: center; }

@media (max-width: 860px) {
  .about-img {
    text-align: center; } }

/*---- About.html ----*/
.clearfix {
  display: flex;
  margin-top: 5rem;
  position: relative;
  height: 100vh;
  width: 100%; }

.about-html {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse; }

.about-html .img-about:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 40px; }

.about-html .about-html-text:nth-child(1) {
  padding-top: 20px;
  flex: 1;
  font-size: 30px; }

.img-about img {
  align-items: center;
  border-radius: 3rem; }

.about-html-container {
  margin-top: 2rem; }

.about-html-text h1 {
  margin-top: 20px;
  font-size: 4.5rem;
  font-weight: 70px;
  line-height: 1.5rem;
  margin-bottom: 3rem; }

.about-html-text p {
  color: #9e9e9e;
  font-size: 1.1rem;
  line-height: 30px;
  margin-bottom: 3rem; }

span {
  color: #ff9f0d; }

.img-about img {
  width: 80%;
  height: auto; }

/*our shop*/
/*our shop*/
/*
.about-us {
    background: $bg-color;
    color:$text-color;
}*/
.middle-text {
  text-align: center; }
  .middle-text .middle-text h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #ff9f0d; }
  .middle-text .middle-text h2 {
    font-size: 2.6rem; }

.Shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: 4rem; }

.row {
  position: relative;
  padding: 10px 35px 40px;
  background: #212121;
  border-radius: 3rem; }
  .row img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
    cursor: pointer; }
  .row h3 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 700; }
  .row p {
    color: #9e9e9e;
    font-size: 1.1rem;
    line-height: 30px;
    margin-bottom: 1.1rem; }

.in-text {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .in-text .price h6 {
    font-size: 17px;
    color: #ff9f0d;
    font-weight: 600; }
  .in-text .s-btn a {
    display: inline-block;
    padding: 9px 23px;
    background: #111;
    color: #ff9f0d;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3rem;
    transition: all 0.5s ease; }
  .in-text .s-btn a:hover {
    background: #ff9f0d;
    color: #111;
    box-shadow: #ff9f0d 0px 1px 25px; }

.top-icon {
  position: absolute;
  top: 30px;
  left: 35px; }
  .top-icon i {
    font-size: 22px;
    color: #ff9f0d; }

.row-btn {
  text-align: center;
  margin-top: 6rem; }

.row img:hover {
  transform: scale(1.1); }

.reviews-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: -4rem; }

.box {
  padding: 35px;
  background: #212121;
  border-radius: 3rem; }
  .box p {
    color: #9e9e9e;
    font-size: 1.1rem;
    line-height: 30px;
    margin-bottom: 1.5rem; }

.in-box {
  display: flex;
  align-items: center;
  gap: 30px; }

.bx-img img {
  width: 100%;
  height: auto;
  border-radius: 3rem; }

.bxx-text h4 {
  margin: 5px 0;
  font-size: 18px; }

.bxx-text h5 {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 10px; }

.ratings i {
  color: #ff9f0d;
  font-size: 18px;
  margin-right: 5px; }

/*contact*/
/*CONTACT*/
.contact-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column; }

.contact-text {
  text-align: center;
  margin-bottom: 4rem; }
  .contact-text h2 {
    font-size: 2.6rem;
    margin-bottom: 10px; }
  .contact-text p {
    color: #9e9e9e;
    font-size: 1.1rem;
    max-height: 950px;
    line-height: 30px;
    margin-bottom: 3rem; }
    @media (max-width: 520px) {
      .contact-text p {
        max-width: 100%; } }

.social i {
  display: inline-block;
  font-size: 32px;
  color: #9e9e9e;
  margin: 0 20px;
  transition: all 0.5s ease; }
  @media (max-width: 520px) {
    .social i {
      margin: 0 10px; } }
  .social i i:hover {
    color: #ff9f0d; }

.social .clr i {
  color: #ff9f0d; }

.details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem; }
  @media (max-width: 520px) {
    .details {
      gap: 1.5rem; } }

.main-d a {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600; }

.main-d i {
  vertical-align: middle;
  margin-right: 12px;
  font-size: 28px;
  color: #ff9f0d;
  text-decoration: none; }

/*contact.html*/
.contact-carts {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  border-radius: 3rem; }

.logo-carts {
  text-align: center;
  color: #fff;
  font-size: 33px;
  font-weight: 700; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }

.contact-wrapper > * {
  padding: 1em; }

.contact-form {
  background: #212121; }

.contact-form form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.contact-form .block {
  grid-column: 1 / 3; }

.contact-form form p {
  margin: 0;
  padding: 1em; }

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: #212121;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #ff9f0d; }

.contact-form form button {
  background: #111;
  border: 0;
  color: #ff9f0d;
  text-transform: uppercase;
  border-radius: 2rem;
  padding: 1em;
  cursor: pointer; }

.contact-form form button:hover,
.contact-form form button:focus {
  background: #ff9f0d;
  color: #212121;
  transition: all 0.5 ease;
  box-shadow: #ff9f0d 0px 1px 25px; }

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem; }

.contact-info ul {
  list-style: none;
  padding: 0; }

.contact-form ul li {
  padding: .3em; }

@media (min-width: 860px) {
  body {
    padding: 0 4rem; }
  .contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

/*scroll*/
/*Scroll*/
.scroll {
  position: fixed;
  bottom: 2.2rem;
  border-top: 2rem;
  right: 3.2rem; }

.scroll i {
  font-size: 22px;
  color: #fff;
  background: #ff9f0d;
  padding: 10px;
  border-radius: 2rem; }
