
    /*color*/
    $main-color:#ff9f0d;
    $text-color: #fff;
    $other-color: #212121;
    $second-color: #9e9e9e;
    $bg-color: #111;
/*typography*/
    $big-font: 4.5rem;
    $h2-font: 2.6rem;
    $p-font: 1.1rem;

    /*breackpoints*/

    $mediadesktop-1545:1545px;
    $mediadesktop-1180:1180px;
    $mediadesktop-1076:1076px;
    $mediadesktop-1045:1045px;
    $mediadesktop-860:860px;
    $mediatable-520:520px;
    $mediatable-475:475px;
    $mediatable-440:440px;
