header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 14%;
    transition: all 0.5s ease;



}
.logo {
    display: flex;
    align-items: center;
    color: $text-color;
    font-size: 33px;
    font-weight: 700;

    & i {
        vertical-align: middle;
        margin-right: 8px;
        color: $main-color;
    }
}



.navlist {
    display: flex;
}

.navlist a {
    color: $text-color;
    font-size: $p-font;
    font-weight: 600;
    margin: 0 30px;
    transition: all 0.5s ease;
}

.navlist a:hover {
    color:  $main-color;
}

.navlist a.active {
    color: $main-color;
}

.nav-icons {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background: $main-color;
    border-radius: 3rem;
    box-shadow: #ff9f0d 0px 1px 25px;
}

.nav-icons i {
    vertical-align: middle;
    font-size: 25px;
    color: $bg-color;
    margin-right: 8px;
    margin-left: 5px;
    transition: all 0.5s ease;
}

#menu-icon {
    font-size: 32px;
    color: $bg-color;
    z-index: 100001;
    cursor: pointer;
    display: none;
}

.nav-icons i:hover {
    transform: scale(1.1);
    color: $text-color;
}



