/* About us*/


section {
    padding: 70px 14% 60px;
    
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;

    @media (max-width: $mediadesktop-860) {
        grid-template-columns: 1fr;
    }


    .about-img img {
        width: 100%;
        height: auto;

        @media (max-width: $mediadesktop-1045){
            width: 100%;
        max-width: 490px;
        height: auto;
        }
    }
    
    .about-text h2 {
        font-size: $h2-font;
        line-height: 1.3;
        margin-bottom: 2rem;
    
        
    }
    .about-text p {
        color: $second-color;
        font-size: $p-font;
        line-height: 30px;
        margin-bottom: 3rem;
    }
    
}




/*About.html*/

.about-section-padding {
    padding: 70px 14% 60px;
    
}

.container2 {
    padding: 30px 10% 70px;
    display: flexbox;
    color: $other-color;
    gap: 7rem;
    text-align: center;
}

@media (max-width: $mediadesktop-860) {
    
    .about-img {
        text-align: center;
    }
}
