/*CONTACT*/

.contact-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.contact-text {
    text-align: center;
    margin-bottom: 4rem;

    & h2 {
        font-size: $h2-font;
        margin-bottom: 10px;
    }
    
    & p {
        color: $second-color;
        font-size: $p-font;
        max-height: 950px;
        line-height: 30px;
        margin-bottom: 3rem;

        @media (max-width: $mediatable-520){
            max-width: 100%;
        }
    }
    
}


.social i {
    display: inline-block;
    font-size: 32px;
    color: $second-color;
    margin: 0 20px;
    transition: all 0.5s ease;

    @media (max-width: $mediatable-520) {
        margin: 0 10px;
    }
    
    & i:hover {
        color: $main-color;
    }
}

.social .clr i{
    color: $main-color;
}


.details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    

    @media (max-width: $mediatable-520){
        gap: 1.5rem;
    }
}

.main-d a {
    display: flex;
    align-items: center;
    color: $text-color;
    font-size: 20px;
    font-weight: 600;
}

.main-d i {
    vertical-align: middle;
    margin-right: 12px;
    font-size: 28px;
    color: $main-color;
    text-decoration: none;
}


/*contact.html*/


.contact-carts {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    border-radius: 3rem;
}
.logo-carts  {
    
    text-align: center;
    color: $text-color;
    font-size: 33px;
    font-weight: 700;
}

.contact-wrapper {
    
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: $other-color;
}

.contact-form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contact-form .block {
    grid-column: 1 / 3;
}


.contact-form form p{
    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: $other-color;
    outline: 0;
    color:  $text-color;
    border-bottom: 1px solid $main-color;
}

.contact-form form button{
    background: $bg-color;
    border: 0;
    color: $main-color;
    text-transform: uppercase;
    border-radius: 2rem;
    padding: 1em;
    cursor: pointer;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: $main-color;
    color: $other-color;
    transition: all 0.5 ease;
    box-shadow: #ff9f0d 0px 1px 25px;
}



.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem;
}
.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-form ul li {
    padding: .3em;
}

@media (min-width: $mediadesktop-860 ) {
    body {
        padding: 0 4rem;
    }

    .contact-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

