/* Home*/

section {
    padding: 70px 14% 60px;

    @media (min-width: $mediadesktop-1545) {
        padding: 50px 4% 40px;
        transition: .2s;
    }
}
.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    @media (min-width: $mediadesktop-1180){
        height: 85vh;
    }
    @media (max-width: $mediadesktop-1045) {
        height: 70vh;
    }
    @media (max-width: $mediadesktop-860){
        grid-template-columns: 1fr;
        height: 118vh;
    }
    @media (max-width: $mediatable-440){
        height: 110vh;
        gap: 0.1rem;
    }

    .home-img img {
        width: 100%;
        height: auto;

        @media (max-width: $mediadesktop-1045){
            width: 100%;
            max-width: 490px;
            height: auto;
        }
        
    }
    
    .home-text h1 {
        font-size: $big-font;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 3rem;

        
    }
    
    span {
        color: $main-color;
    }

}



.btn {
    display: inline-block;
    padding: 15px 35px;
    background: $other-color;
    color: $main-color;
    font-size: $p-font;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 2rem;
    transition: all 0.5s ease;

    .btn i {
        vertical-align: middle;
        margin-left: 9px;
        font-size: 22px;
    }
    
    .btn:hover {
        background: $main-color;
        color: $bg-color;
        box-shadow: #ff9f0d 0px 1px 25px;
    }
    


}



.btn2 {
    display: inline-block;
    margin-left: 30px;
    font-size: $p-font;
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 3px solid $main-color;
    color: $main-color;
    transition: all 0.5s ease;

    @media (max-height:$mediatable-440) {
        
            margin-top: 10px;
        
    }

    .btn2:hover {
        transform: scale(1.1) translateX(12px);
    }
    
}



header.sticky {
    padding: 12px 14%;
    background: $other-color;

    @media (min-width: $mediadesktop-1545) {

            padding: 14px 4%;
            transition: .2s;
        }
}
.container {
    padding: 30px 14% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    text-align: center;

    @media (min-width: $mediadesktop-1545){
        padding: 30px 4% 50px;
    }

    
    .container-box {
    padding: 43px;
    background: $other-color;
    border-radius: 3rem;
    }

    .container-box img {
    width: 100%;
    max-width: 50px;
    height: auto;
    }

    .container-box h3 {
    font-size: 21px;
    font-weight: bold;
    margin: 16px 0;
    }

    .container-box a {
    color: $second-color;
    font-size: $p-font;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    }

    .container-box a:hover{
    color: $main-color;
    } 


}

@media (min-width: $mediadesktop-1180) {
    :root {
        $big-font: 4rem;
        $h2-font: 2.2rem;
        $p-font: 15px;
    }

}

@media (max-width: $mediadesktop-1045) {
    :root {
        $big-font: 3.3rem;
        $h2-font: 2rem;
    }
}

@media (max-width: $mediatable-475) {
    :root {
        $big-font: 2.8rem;
        $h2-font: 2rem;
    }
}

@media (max-width: $mediadesktop-860) {
    
    
    .home-text {
        padding-top: 60px;
    }
    .home-img {
        text-align: center;
    }

}
@media (max-width: $mediatable-440) {
    
    .btn2 {
        margin-top: 10px;
    }
} 

